
.menu .overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: transparent;
}

li.disabled a {
    @apply opacity-50 cursor-not-allowed pointer-events-none;
}

.menu .disabled-link a {
    color: var(--menu-disabled-text-color);
    font-style: italic;
    cursor: not-allowed;
}
